@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 40px;
}

.header span {
  color: rgb(78, 151, 0);
}

.content { 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 40px;
}

.config { 
  display: flex;
  flex-direction: column;
}